<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.eisenflow">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".ApplicationEisenFlow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LaunchActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activities.TutorialActivity" />
        <activity
            android:name=".activities.SingleTaskActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SingleTaskActivityTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.PreviewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SingleTaskActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.TimerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.AboutDialogActivity"
            android:theme="@style/NoTitleDialog"/>
        <activity android:name=".activities.Settings"
            android:theme="@style/SettingsActivityTheme"/>

        <provider
            android:name=".database.EisenContentProvider"
            android:authorities="com.app.eisenflow.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <service android:name=".services.TimerService" />

        <!-- Alarms -->
        <receiver android:name=".receivers.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.OnAlarmReceiver"/>
        <receiver android:name=".receivers.OnNotificationActionReceiver"/>

        <service android:name=".services.TaskReminderService"/>

        <!-- Widget -->
        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_info" />
        </receiver>
        <service
            android:name=".widget.UpdateWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>